* {
	font-family: Arial, sans-serif;
}

body, html {
	padding: 0;
	margin: 0; 
}

#main_page_container {
	display: none;
}

#main_page_container .header {
	height: 65px;
	width: 100%;
}

#main_page_container .header ul{
	float: right;
	list-style: none;
}


#main_page_container .header ul li{
	font-size: 13px;
	color: #000;
	line-height:24px;
	opacity:0.75;
	padding: 0 30px;
	cursor: pointer;
}

#main_search_container {
	width: 585px;
	margin: 0 auto;
	margin-top: 140px;
}

#main_search_container .logo {
	background: url(../images/shmoogle_logo.png) top left no-repeat;
	width: 704px;
    height: 124px;
    margin: 0 auto;
    background-size: contain;
    position: relative;
    left: -10px;
} 

#main_search_container input {
	margin-top: 20px;
	width: 100%;
	height: 44px;
	border: 1px #eee solid;
	border-bottom: 1px #c8c8c8 solid;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
	outline-color: #000;
	font-size: 16px;
	line-height: 44px;
	padding-left: 15px;

}

#main_search_container input:focus {
	outline: none;
}


#main_search_container button {
	background-color: rgb(242,242,242);
	padding: 0 16px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: rgb(117,117,117);
	font-size: 13px;
	font-weight: bold;
	margin: 34px auto;
	display: block;
}

#main_search_container button:hover {

	border: 1px solid #999;
	line-height: 38px;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
	cursor: pointer;


}

#main_search_container .disclaimer{
	font-size: 13px;
	color: rgb(34,34,34);
	line-height: 28px;
	width: 100%;
	text-align: center;
}

#results_page_container {
	display: none;
	width: 100%;
	background: url(../images/preloader.gif) center center no-repeat;
	height: 100vh;
}

#results_page_container .header {
	background-color: rgb(250,250,250);
	height:80px;
	border-bottom: 1px #eee solid;
	width: 100%;

}

#results_page_container .header .logo {
	background: url(../images/shmoogle_logo.png) center left no-repeat;
	width: 290px;
    height: 60px;
    background-size: cover;
    display: inline-block;
    margin-top: 10px;
    float: left;

} 

#results_page_container .header button {
	background-color: rgb(230,230,230);
	padding: 0 16px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: rgb(117,117,117);
	font-size: 13px;
	font-weight: bold;
	display: block;
	position: relative;
	top: 20px;
	left: 15px;
}

#results_page_container .header button:hover {

	border: 1px solid #999;
	line-height: 38px;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
	cursor: pointer;
	left: 14px;


}

#results_page_container .header input {
	width: 540px;
	height: 44px;
	border: 1px #eee solid;
	border-bottom: 1px #c8c8c8 solid;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
	outline-color: #000;
	font-size: 16px;
	line-height: 44px;
	padding-left: 15px;
	float: left;
	margin-top: 16px;
	margin-left: -40px;

}

#results_page_container .header input:focus {
	outline: none;
}

#results_page_container #results_container {
	width: 540px;
	margin-left: 170px;
}

#results_page_container #results_container #resultsCounter {
	margin-top: 20px;
	font-size: 13px;
	color:rgb(128,128,128);
}



.result{
	margin-top: 30px;
}

.result .title {
	font-size: 18px;
	color: rgb(26,13,171);
	line-height: 22px;
	text-decoration: none;
}

.result .title:hover {
	text-decoration: underline;
}

.result .originalPosition{
	font-family: 'Gochi Hand', cursive;
	font-size: 22px;
	color: #000;
	/*margin-left: 15px;
	position: relative;
	top: -8px;
*/

}

.result .url {
	font-size: 14px;
	color: rgb(0, 102, 33);
	line-height: 16px;
	white-space: nowrap;
	margin-top: -2px;
}

.result .content {
	font-size: 13px;
	color: rgb(84,84,84);
	line-height: 18.2px;
	margin-top: 1px;
}



/***************************  SPLIT SCREEN ********************/



.search_header {
	background-color: rgb(250,250,250);
	height:80px;
	width: 100%;
	text-align: center;

}

.search_header .input_container {
	width: 700px;
	margin: 0 auto;
}

.search_header button {
	background-color: rgb(230,230,230);
	padding: 0 16px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: rgb(117,117,117);
	font-size: 13px;
	font-weight: bold;
	display: block;
	position: relative;
	top: 20px;
	left: 15px;
}

.search_header button:hover {

	border: 1px solid #999;
	line-height: 38px;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
	cursor: pointer;
	left: 14px;


}

.search_header input {
	width: 540px;
	height: 44px;
	border: 1px #eee solid;
	border-bottom: 1px #c8c8c8 solid;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
	outline-color: #000;
	font-size: 16px;
	line-height: 44px;
	padding-left: 15px;
	float: left;
	margin-top: 16px;
	margin-left: -40px;

}




.half_page {
	width: 50%;
	float: left;
	background: url(../images/preloader.gif) center center no-repeat;
	box-shadow: 2px 1px 1px rgba(0,0,0,0.2);
	height: 100vh;
}

.half_page .header {
	text-align: center;
}

.half_page .header .logo{
	float: none !important;
}

.google_results .header .logo {
	width: 155px !important;
	background-image: url(../images/google_logo.png) !important;
	background-size: contain !important;
	background-position:  center center;
}

#results_page_container {
	background: none !important;
}

#results_page_container #results_container {
	width: 70% !important;
	margin-left: 10% !important;
}
